documentation/slides/pdf
.Xil
/build
fpga/build
fpga/vcd-build
fpga/vga-build
fpga/vcd
fpga/verible.filelist
fpga/src/config_pkg.sv
fpga/test/config.hpp
*.jou
*.log
.vivado.env
/vtech
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
/vtech
