# ------------------------------------------------------------
# Vivado launch mode. Define how to launch Vivado in the environment. This config is used by the VS Code tasks to launch Vivado in the correct environment. 
# and allows the task description to be agnostic of the launch method. The launch method can be one of the following:
#
#   1. Native Vivado:
#        VIVADO_CMD=vivado
#
#   2. Vivado with settings64.sh:
#        VIVADO_SETTINGS=/path/to/settings64.sh
#
#   3. Custom launcher:
#        VIVADO_LAUNCHER="distrobox-enter --name vivado --"
#
# The VS Code tasks don't need to know which is being used.
# See vivado.sh for usage
#
# Once done, rename file to .vivado.env
# ------------------------------------------------------------

VIVADO_CONTAINER="vivado" # if using a distrobox container, this is the name of the container to use. If not using a container, leave this blank.
VIVADO_SETTINGS="/path/to/vivado/installation/settings64.sh"